mumble:
  server: mumble.server
  port: 64738
  username: live-streamer
  password: server-password
  channel: Root
  command_prefix: '!'
  max_silence: 30
icecast:
  server: icecast.server
  port: 8000
  username: source
  password: hackme
  mount_point: /mumble
  autoconnect: false
